Source: pyflag
Section: utils
Priority: optional
Maintainer: Michael Cohen and David Collett <pyflag-support@lists.sourceforge.net>
Build-Depends: debhelper (>= 4.0.0), zlib1g-dev, libmagic-dev, python-dev (>= 2.4), libclamav-dev, make, libextractor-dev, zlib1g-dev, python-ctypes
Build-Conflicts: 
Standards-Version: 3.6.1

Package: pyflag
Architecture: any
Depends: python (>= 2.4), libmagic1, libclamav1, python2.4-mysqldb, mysql-server (>= 4.0.23), python2.4-imaging, libextractor1c2a, zlib1g, python-pexpect, python-ctypes
Recommends: 
Description: python-based forensic tool
 The python Forensic Log Analysis GUI was designed to simplify the process of
 log file analysis and forensic investigations.  PyFlag performs
 advanced forensic analysis of disk images, as well as network
 captures (pcap files) and log files.

Package: pyflag-doc
Architecture: all
Description: Documentation for pyflag
 This documentation includes blah
