a.tab:hover,
a.tabcaution:hover,
.tabactive,
.tabactive:hover {
    margin:             0;
    padding:            0.2em 0.4em 0.2em 0.4em;
    text-decoration:    none;
}

a.tab:hover,
.tabactive {
    background-color:   #D5D5D5;
}

#notebook li {
  font-size: small;
  margin-bottom: 0.3em;
}

/* topmenu */
div#notebook {
  font-weight:        bold;
  list-style-type:    none;
  margin:             0;
  padding:            0;
  width: 500%;
}

ul#topmenu li {
    float:              left;
    margin:             0;
    padding:            1;
    vertical-align:     middle;
  list-style: none;
}

#topmenu img {
    vertical-align:     middle;
    margin-right:       0.1em;
}

/* default tab styles */
.tab, .tabcaution, .tabactive {
    display:            block;
    margin:             0.2em 0.2em 0 0.2em;
    padding:            0.2em 0.2em 0 0.2em;
    white-space:        nowrap;
    text-decoration:    none;
}

/* default tab styles */
.tab, .tabcaution, .tabactive {
    display:            block;
    margin:             0.2em 0.2em 0 0.2em;
    padding:            0.2em 0.2em 0 0.2em;
    white-space:        nowrap;
}

/* disabled tabs */
span.tab {
    color:              #666666;
}

/* disabled drop/empty tabs */
span.tabcaution {
    color:              #ff6666;
}

/* enabled drop/empty tabs */
a.tabcaution {
    color:              #FF0000;
}
a.tabcaution:hover {
    color: #FFFFFF;
    background-color:   #FF0000;
}

#topmenu {
    margin-top:         0.5em;
    padding:            0.1em 0.3em 0.1em 0.3em;
}

ul#topmenu li {
    border-bottom:      1pt solid black;
}

/* default tab styles */
.tab, .tabcaution, .tabactive {
    background-color:   #E5E5E5;
    border:             1pt solid #D5D5D5;
    border-bottom:      0;
    -moz-border-radius-topleft: 0.4em;
    -moz-border-radius-topright: 0.4em;
}

/* enabled hover/active tabs */
a.tab:hover,
a.tabcaution:hover,
.tabactive,
.tabactive:hover {
    margin:             0;
    padding:            0.2em 0.4em 0.2em 0.4em;
    text-decoration:    none;
}

a.tab:hover,
.tabactive {
    background-color:   #D5D5D5;
}

/* disabled drop/empty tabs */
span.tab,
span.tabcaution {
    cursor:             url(../themes/original/img/error.ico), default;
}

div.content { 
  width: 100%;
  color: red;
}
.clearfloat { 
  clear: both;
}

tbody.scrollContent td, thead th {
  background:#94BEFF;
  border-right:1px solid #999;
  padding:2px;
  font-weight:normal;
  font-size:0.8em;
}

tbody.scrollContent {
  overflow-x: auto;
  overflow-y: auto;
}

tbody.scrollContent td, tbody.scrollContent tr td {
  background: #FFF;
  padding: 2px;
}

tbody.scrollContent tr.alternateRow td {
  background: #e3edfa;
  padding: 2px;
}

tbody.scrollContent tr.selected td {
  background: yellow;
  padding: 2px;
}

tbody.scrollContent tr:hover td,tbody.scrollContent tr.alternateRow:hover td.sorted-column {
  background: #a6c2e7;
  padding: 2px;
}

tbody.scrollContent td.sorted-column, tbody.scrollContent tr.alternateRow td.sorted-column {
  background: pink;
}

thead th {
 cursor: pointer;
}

all.clsMenuItemNS, .clsMenuItemIE {
  text-decoration: none; 
  font: bold 12px Arial; 
  color: white; 
  cursor: hand; 
  z-index:100
}

/* end topmenu */

/** General Page layout */
div.PyFlagHeader { 
  background-image: url(topfill.jpg);
  float: left;
  width: 100%;
}

div.Logo { 
  float: right;
}

div.Toolbar { 
  float: left;
}

div.PyFlagPage { 
  max-height: 10ex;
}

/** Tables */
table.PyFlagTable thead a, img { 
  color: black;
  font-size: large;
  border: 0;
  text-decoration: none;
 }

table.PyFlagTable { 
  border: 10;
  width: 100%;
 }

